
.index {
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.topContent {
  height: 50PX;
  background-color: aquamarine;
}

.middleContent {
  flex: 1;
}

.bottomContent {
  height: 50PX;
  background-color: bisque;
  margin-bottom: 100PX;
}